<section class="content">
  <h3>ヘルプ</h3>
  <div class="content-body">
    <h4>Q. このサイトで何ができるの？</h4>
    <p>A. 当サイトでは、</p>
    <ol>
      <li>他のユーザの映画レビューを閲覧</li>
      <li>自分で映画レビューを投稿する</li>
    </ol>
    <p>以上２つの基本機能のみが実装されている状況です。これ以外はできません。</p>
    <h4>Q. レビュータイムラインとは？</h4>
    <p>A. 全ての映画レビューをリアルタイムで閲覧することができます。Twitterのタイムラインと似たようなものです。</p>
    <h4>Q. レビューを書くには？</h4>
    <p>A. メニューから「レビューを書く」を押し、遷移先ページの「この映画のレビューを書く」を押下することによってレビュー新規作成画面に移動します。</p>
    <p>タイトル、レビュー本文、評価点数を入力の上、「create review」にて新規作成が完了となります。</p>
    <h4>Q. 書きたい映画がない時は？</h4>
    <p>A. お手数ですが、メニュー＞「映画作成」からわかる範囲の情報を入力していただき、「create videowork」にて新規作成してください。</p>
  </div>
</section>
<section class="content mt-5">
  <h3>よくあるご質問</h3>
  <div class="content-body">
    <h4>Q. え、これだけ？</h4>
    <p>A. 大変申し訳ございません。これだけでございます。</p>
    <h4>Q. ３日かけて、、これ？？？</h4>
    <p>A. 申し訳ございません、３日かけてこれでございます。</p>
    <h4>Q. これから、更新とかちゃんとされるの?</h4>
    <p>A. もちろんです！！！</p>
    <p>I'll be back...</p>
    <h4>Q. いつからするの？？？</h4>
    <p>A. ただいま、来年に向けての大掃除と同時並行なので、徐々に少しずつ更新していく予定でありmath。</p>
  </div>
</section>
